<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>小饭桌</title>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1477229_hgtvws7pc9i.css">
    <link rel="stylesheet" href="../../dist/css/course/course_index.min.css">
    <script src="../../dist/js/jquery.min.js"></script>
</head>
<body>
<!--头部-->
<header class="header">
    <div class="container">
        <div class="fuck"></div>
        <div class="logo-box">
            <a href="/"></a>
        </div>

        <ul class="nav">
            <li class="active"><a href="/">创业资讯</a></li>
            <li class=""><a href="/">创业课堂</a></li>
            <li class=""><a href="/">付费资讯</a></li>
            <li class=""><a href="/">搜索</a></li>
        </ul>

        <div class="auth-box">
            <i class="icon-personal iconfont"></i>
            <a href="/">注册</a>
            /
            <a href="/">登录</a>
        </div>
    </div>
</header>
<!--中部-->
<div class="main">
    <div class="course-nav">
        <div class="nav-container">
            <h3 class="title">在线课堂</h3>
            <ul class="nav-list">
                <li><a href="#">最新课堂</a></li>
                <li><a href="#">投资人说</a></li>
                <li><a href="#">明星案例</a></li>
                <li><a href="#">创业知识</a></li>
            </ul>
        </div>
    </div>
    <div class="wrapper">
        <ul class="course-list" v-for="item in len">
            <li>
                <a href="#">
                    <div class="thumbnail-group">
                        <img src="https://static-image.xfz.cn/1563171930_300.png-course.list.small" alt="">
                    </div>
                    <div class="course-info">
                        <p class="title">对赌是什么 该不该做对赌</p>
                        <p class="author">知了课堂CEO</p>
                        <p class="price-group">
                            <span class="free">免费</span>
                        </p>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="thumbnail-group">
                        <img src="https://static-image.xfz.cn/1563171930_300.png-course.list.small" alt="">
                    </div>
                    <div class="course-info">
                        <p class="title">对赌是什么 该不该做对赌</p>
                        <p class="author">知了课堂CEO</p>
                        <p class="price-group">
                            <span class="nofree">$ 100</span>
                        </p>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="thumbnail-group">
                        <img src="https://static-image.xfz.cn/1563171930_300.png-course.list.small" alt="">
                    </div>
                    <div class="course-info">
                        <p class="title">对赌是什么 该不该做对赌</p>
                        <p class="author">知了课堂CEO</p>
                        <p class="price-group">
                            <span class="free">免费</span>
                        </p>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="thumbnail-group">
                        <img src="https://static-image.xfz.cn/1563171930_300.png-course.list.small" alt="">
                    </div>
                    <div class="course-info">
                        <p class="title">对赌是什么 该不该做对赌</p>
                        <p class="author">知了课堂CEO</p>
                        <p class="price-group">
                            <span class="nofree">$ 100</span>
                        </p>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="thumbnail-group">
                        <img src="https://static-image.xfz.cn/1563171930_300.png-course.list.small" alt="">
                    </div>
                    <div class="course-info">
                        <p class="title">对赌是什么 该不该做对赌</p>
                        <p class="author">知了课堂CEO</p>
                        <p class="price-group">
                            <span class="free">免费</span>
                        </p>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="thumbnail-group">
                        <img src="https://static-image.xfz.cn/1563171930_300.png-course.list.small" alt="">
                    </div>
                    <div class="course-info">
                        <p class="title">对赌是什么 该不该做对赌</p>
                        <p class="author">知了课堂CEO</p>
                        <p class="price-group">
                            <span class="nofree">$ 100</span>
                        </p>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="thumbnail-group">
                        <img src="https://static-image.xfz.cn/1563171930_300.png-course.list.small" alt="">
                    </div>
                    <div class="course-info">
                        <p class="title">对赌是什么 该不该做对赌</p>
                        <p class="author">知了课堂CEO</p>
                        <p class="price-group">
                            <span class="free">免费</span>
                        </p>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="thumbnail-group">
                        <img src="https://static-image.xfz.cn/1563171930_300.png-course.list.small" alt="">
                    </div>
                    <div class="course-info">
                        <p class="title">对赌是什么 该不该做对赌</p>
                        <p class="author">知了课堂CEO</p>
                        <p class="price-group">
                            <span class="nofree">$ 100</span>
                        </p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
<!--底部-->
<footer class="footer">
    <div class="top-group">
        <div class="top-inner-group">
            <div class="logo-box"></div>
            <div class="detail-group">
                <div class="line1">
                    <ul class="links">
                        <li><a href="#">关于小饭桌</a></li>
                        <li><a href="#">创业课堂</a></li>
                        <li><a href="#">寻求报道</a></li>
                        <li><a href="#">创业礼包</a></li>
                    </ul>
                    <div class="about-us">
                        <span class="title">关于我们:</span>
                        <span class="weixin">
                            <div class="wx-qrcode">
                            </div>
                            <a class="text" href="#">@小饭桌</a>
                        </span>
                    </div>
                </div>
                <div class="line2">
                    <p class="address">地址：山东省青岛市中国石油大学华东</p>
                    <p class="contact">400-888-888</p>
                </div>
            </div>
        </div>
    </div>
    <!--    最底栏-->
    <div class="bottom-group">の2019 北京子木投资顾问有限公司</div>
</footer>
</body>
</html>