<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>小饭桌</title>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1477229_hgtvws7pc9i.css">
    <link rel="stylesheet" href="../../dist/css/course/course_detail.min.css">
    <script src="../../dist/js/jquery.min.js"></script>
</head>
<body>
<!--头部-->
<header class="header">
    <div class="container">
        <div class="fuck"></div>
        <div class="logo-box">
            <a href="/"></a>
        </div>

        <ul class="nav">
            <li class="active"><a href="/">创业资讯</a></li>
            <li class=""><a href="/">创业课堂</a></li>
            <li class=""><a href="/">付费资讯</a></li>
            <li class=""><a href="/">搜索</a></li>
        </ul>

        <div class="auth-box">
            <i class="icon-personal iconfont"></i>
            <a href="/">注册</a>
            /
            <a href="/">登录</a>
        </div>
    </div>
</header>
<!--中部-->
<div class="main">
    <div class="course-nav">
        <div class="nav-container">
            <h3 class="title">在线课堂</h3>
            <ul class="nav-list">
                <li><a href="#">最新课堂</a></li>
                <li><a href="#">投资人说</a></li>
                <li><a href="#">明星案例</a></li>
                <li><a href="#">创业知识</a></li>
            </ul>
        </div>
    </div>
    <div class="wrapper">
        <div class="course-wrapper">
            <div class="course-info">
                <p class="title">对赌是什么 该不该做对赌</p>
                <div class="price-group">
                    <div class="share-group">
                        <span class="share">分享至：微信   微博</span>
                    </div>
                    <div class="buy-group">
                        <span class="nofree">$ 49.9</span>
                        <a href="#" class="buy-btn">立即购买</a>
                        <!--                        <span class="free">免费</span>-->
                    </div>
                </div>
            </div>
            <div class="video-group"></div>
        </div>
        <div class="bottom-wrapper">
            <div class="course-detail-wrapper">
                <div class="item-group">
                    <p class="item-title">课程讲师</p>
                    <div class="teacher-group">
                        <div class="avatar-group">
                            <img src="https://static-image.xfz.cn/1534760067_945.png" alt="" class="avatar">
                        </div>
                        <div class="teacher-info">
                            <p class="teacher-name">知了课堂</p>
                            <p class="teacher-desc">专业投资人</p>
                        </div>
                    </div>
                    <p class="item-content">

                        专业投资人专业投资人专业投资人专业投资人专业投资人
                        专业投资人专业投资人专业投资人专业投资人专业投资人
                        专业投资人专业投资人专业投资人专业投资人专业投资人
                        专业投资人专业投资人专业投资人专业投资人专业投资人</p>
                </div>
                <div class="item-group">
                    <p class="item-title">课程简介</p>
                    <p class="item-content">
                        好课好课好课好课好课好课好课好课好课好课好课好课好课好课好课好课好课好课好课好课好课好课好课好课好课好课好课好课
                        好课好课好课好课好课好课好课好课好课好课好课好课好课好课好课好课好课好课好课好课好课好课好课好课好课好课
                        好课好课好课好课好课好课好课好课好课好课好课好课好课好课好课好课好课好课好课
                        好课好课好课好课好课好课好课好课好课好课好课好课好课好课
                    </p>
                </div>
                <div class="item-group">
                    <p class="item-title">课程大纲</p>
                    <p class="item-content">
                        学学学学学学学学学学学学学学学学学学学学学学学学学学学学学学学学学学
                        学学学学学学学学学学学学学学学学学学学学学学学学学学学学学学学学学学学学学学学学
                        学学学学学学学学学学学学学学学学学学学学学学学学学学学学学学
                        学学学学学学学学学学学学学学学学学学学学
                    </p>
                </div>
                <div class="item-group">
                    <p class="item-title">适宜人群</p>
                    <p class="item-content">
                        学学学学学学学学学学学学学学学学学学学学学学学学学学学学学学学学学学
                        学学学学学学学学学学学学学学学学学学学学学学学学学学学学学学学学学学学学学学学学
                        学学学学学学学学学学学学学学学学学学学学学学学学学学学学学学
                        学学学学学学学学学学学学学学学学学学学学
                    </p>
                </div>
                <div class="item-group">
                    <p class="item-title">帮助中心</p>
                    <p class="item-content">
                        学学学学学学学学学学学学学学学学学学学学学学学学学学学学学学学学学学
                        学学学学学学学学学学学学学学学学学学学学学学学学学学学学学学学学学学学学学学学学
                        学学学学学学学学学学学学学学学学学学学学学学学学学学学学学学
                        学学学学学学学学学学学学学学学学学学学学
                    </p>
                </div>

            </div>
            <div class="recommend-wrapper">
                <p class="recommend-title">推荐课程</p>
                <ul class="course-list">
                    <li>
                        <a href="#">
                            <div class="course-info-group">
                                <p class="course-title">教你制作抓住投资人眼球的商业计划书</p>
                                <p class="teacher">知了课堂CEO</p>
                            </div>
                            <div class="thumbnail-group">
                                <img src="https://static-image.xfz.cn/1526455098_289.png-course.list.small" alt=""
                                     class="thumbnail">
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="course-info-group">
                                <p class="course-title">教你制作抓住投资人眼球的商业计划书</p>
                                <p class="teacher">知了课堂CEO</p>
                            </div>
                            <div class="thumbnail-group">
                                <img src="https://static-image.xfz.cn/1526455098_289.png-course.list.small" alt=""
                                     class="thumbnail">
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--底部-->
<footer class="footer">
    <div class="top-group">
        <div class="top-inner-group">
            <div class="logo-box"></div>
            <div class="detail-group">
                <div class="line1">
                    <ul class="links">
                        <li><a href="#">关于小饭桌</a></li>
                        <li><a href="#">创业课堂</a></li>
                        <li><a href="#">寻求报道</a></li>
                        <li><a href="#">创业礼包</a></li>
                    </ul>
                    <div class="about-us">
                        <span class="title">关于我们:</span>
                        <span class="weixin">
                            <div class="wx-qrcode">
                            </div>
                            <a class="text" href="#">@小饭桌</a>
                        </span>
                    </div>
                </div>
                <div class="line2">
                    <p class="address">地址：山东省青岛市中国石油大学华东</p>
                    <p class="contact">400-888-888</p>
                </div>
            </div>
        </div>
    </div>
    <!--    最底栏-->
    <div class="bottom-group">の2019 北京子木投资顾问有限公司</div>
</footer>
</body>
</html>