<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新闻详情-小饭桌</title>
    <link rel="stylesheet" href="../../dist/css/news_detail.min.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1477229_hgtvws7pc9i.css">
    <script src="../../dist/js/jquery.min.js"></script>
</head>
<body>
<header class="header">
    <div class="container">
        <div class="fuck"></div>
        <div class="logo-box">
            <a href="/"></a>
        </div>

        <ul class="nav">
            <li class="active"><a href="/">创业资讯</a></li>
            <li class=""><a href="/">创业课堂</a></li>
            <li class=""><a href="/">付费资讯</a></li>
            <li class=""><a href="/">搜索</a></li>
        </ul>

        <div class="auth-box">
            <i class="icon-personal iconfont"></i>
            <a href="/">注册</a>
            /
            <a href="/">登录</a>
        </div>
    </div>
</header>

<div class="main">
    <div class="wrapper">
        <!--        新闻-->
        <div class="main-content-wrapper">
            <div class="news-wrapper">
                <h1 class="title">众安“马上赔”最快3分钟结案众安“马上赔”最快3分钟结案众安“马上赔”最快3分钟结案众安“马上赔”最快3分钟结案</h1>
                <div class="news-info">
                    <div class="info-group">
                        <span class="author">福禄娃</span>
                        <span class="pub-time">06月03日</span>
                        <span class="category">热点</span>
                    </div>
                    <div class="share-group">
                        <span>分享至</span>
                        <a class="weixin"></a>
                        <a href="#" class="weibo"></a>
                    </div>
                </div>
                <article class="article">
                    例如，车主如果遇险，可以进入“马上赔”实时视频连线客服，在一个视频通话里走完从报案、查勘、定损、交单、理算到核赔、结案的整个传统车险理赔流程，获得快速的智能定损及理赔打款服务。

                    8月上线以来，“马上赔”被越来越多的用户“翻牌”，9月使用率月环比增幅达到35%，10月的使用数量亦逐日攀升。在线理赔大获好评的直接原因在于“快”。与传统“万元以下”理赔结案平均需时7-8天相比，“马上赔”目前的平均结案时间为11分06秒，最快为3分钟，理赔效率的提升直接缓解了用户出险后的焦虑。

                    不仅快，“马上赔”还很省。由于涉及各地职场人力费用及查勘车等设备费用，目前，传统理赔的间接理赔费用接近每案400元。与之相比，依托互联网轻运营、技术赋能和经营管理优化的优势，“马上赔”每案可节省成本约37.2%，趋近于大公司规模效益后的水平。

                    在实现“好”，“快”，“省”的同时，“马上赔”触达用户的方式也日益“多”样。目前，除了众安保险APP、众安汽车好生活公众号和小程序的入口，用户也可在支付宝“蚂蚁保险”的车险栏目中体验“马上赔”。用户无需寻找理赔入口，也无需关注理赔进度，支付宝会主动推送消息和更新案件进展。谈及未来计划，陆乐指出，“众安将继续深化和支付宝及更多互联网平台的合作，向着‘在哪承保就能在哪理赔‘的目标行进，逐步实现理赔全链路透明化，持续加码众安汽车新生态，连接合作伙伴共同为车主打造用车新体验，使以“马上赔”为核心的在线理赔体系，更加直接且多方位地触达每一位车主。”
                    科技+车险 5G将让车险理赔的未来更可期

                    “马上赔”的升级离不开众安科技的赋能。众安科技副总经理苏炜鑫在媒体沟通会上表示，“通过前台科技视讯技术，配合丢帧补时和直播技术保证视频流畅进行，车主只需手持终端设备，通过OCR可自动识别相关图片信息，并将理赔单证照片分流并合理分类，免去繁琐的客服单证录入，通过AI定损，识别损失部位和程度，自动带出赔付金额。”

                    当然，“去查勘化”的同时也需要更严格的风控，“马上赔”前台从人车两个方面对事故检测核实，对接公安征信系统，识别当事人真实身份并判断其信用特征。而视频理赔比图片理赔更有助于保司实时掌握事故第一现场的第一手资料，真实性较之前得到更多保证。
                </article>
            </div>
            <div class="comment-wrapper">
                <h3 class="title">文章评论（0）</h3>
                <label>
                    <textarea name="comment" class="comment-textarea nologin-textarea"
                              placeholder="立即登录，参与评论"></textarea>
                </label>
                <div class="submit-btn-group">
                    <button class="submit-btn">立即评论</button>
                </div>
            </div>
        </div>
        <!--        侧边-->
        <div class="sidebar-wrapper">
            <!--            第一个部分-->
            <div class="title-group">
                <span class="title">在线课堂</span>
                <a class="more" href="#">更多</a>
            </div>
            <!--             广告-->
            <div class="advertise-group">
                <a href="#"> <img src="https://static-image.xfz.cn/1570765909_110.png" alt="">
                </a>
            </div>

            <div class="title-group">
                <span class="title">关注小饭桌</span>
            </div>

            <div class="focus-group">
                <ul class="left-group">
                    <li class="zhihu">
                        <a href="#" target="_blank">小饭桌创业课堂</a>
                    </li>
                    <li class="weibo">
                        <a href="#" target="_blank">小饭桌创业课堂</a>
                    </li>
                    <li class="toutiao">
                        <a href="#" target="_blank">小饭桌创业课堂</a>
                    </li>
                </ul>
                <div class="right-group">
                    <p class="desc">扫码关注小饭桌公众号</p>
                </div>
            </div>

            <div class="hot-news-groups">
                <div class="title-group">
                    <span class="title">热门推荐</span>
                </div>

                <ul class="hot-list-group">
                    <li>
                        <div class="left-group">
                            <p class="title"><a href="#">蓝港互动及蓝港科技宣布，将联合增持区块链...</a></p>
                            <p class="more">
                                <span class="category">深度报道</span>
                                <span class="pub-time">一小时前</span>
                            </p>
                        </div>
                        <div class="right-group">
                            <a href="#"><img src="https://static-image.xfz.cn/1572227963_695.jpg-website.news.list"
                                             alt=""></a>
                        </div>
                    </li>
                </ul>
            </div>


        </div>
    </div>
</div>


<footer class="footer">
    <div class="top-group">
        <div class="top-inner-group">
            <div class="logo-box"></div>
            <div class="detail-group">
                <div class="line1">
                    <ul class="links">
                        <li><a href="#">关于小饭桌</a></li>
                        <li><a href="#">创业课堂</a></li>
                        <li><a href="#">寻求报道</a></li>
                        <li><a href="#">创业礼包</a></li>
                    </ul>
                    <div class="about-us">
                        <span class="title">关于我们:</span>
                        <span class="weixin">
                            <div class="wx-qrcode">
                            </div>
                            <a class="text" href="#">@小饭桌</a>
                        </span>
                    </div>
                </div>
                <div class="line2">
                    <p class="address">地址：山东省青岛市中国石油大学华东</p>
                    <p class="contact">400-888-888</p>
                </div>
            </div>
        </div>
    </div>
    <!--    最底栏-->
    <div class="bottom-group">の2019 北京子木投资顾问有限公司</div>
</footer>
</body>
</html>