<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>小饭桌</title>
    <link rel="stylesheet" href="../../dist/css/payinfo/payinfo.min.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1477229_hgtvws7pc9i.css">
    <script src="../../dist/js/jquery.min.js"></script>
    <!--    <script src="../../dist/js/index.min.js"></script>-->
</head>
<body>
<!--头部-->
<header class="header">
    <div class="container">
        <div class="fuck"></div>
        <div class="logo-box">
            <a href="/"></a>
        </div>

        <ul class="nav">
            <li class="active"><a href="/">创业资讯</a></li>
            <li class=""><a href="/">创业课堂</a></li>
            <li class=""><a href="/">付费资讯</a></li>
            <li class=""><a href="/">搜索</a></li>
        </ul>

        <div class="auth-box">
            <i class="icon-personal iconfont"></i>
            <a href="/">注册</a>
            /
            <a href="/">登录</a>
        </div>
    </div>
</header>
<!--中部-->
<div class="main">
    <div class="wrapper">
        <!--        新闻-->
        <div class="main-content-wrapper">
            <div class="advertise-group">
                <a href="#">
                    <img src="http://www.xfz.cn/static/build/images/web-venture-banner.png" alt="">
                </a>
            </div>
            <ul class="document-list">
                <li>
                    <div class="category-group"
                         style="background-image:url('http://xfz.cn/static/build/images/web-bp-pc.png');"></div>
                    <div class="document-info">
                        <p class="document-title">如何写好一份商业计划书</p>
                        <p class="document-desc">一份好的商业计划书，是创业成功的开始！</p>
                        <p class="document-price">￥8.8</p>
                    </div>
                </li>
                <li>
                    <div class="category-group"
                         style="background-image:url('http://xfz.cn/static/build/images/web-bp-pc.png');"></div>
                    <div class="document-info">
                        <p class="document-title">如何写好一份商业计划书</p>
                        <p class="document-desc">一份好的商业计划书，是创业成功的开始！</p>
                        <p class="document-price">￥8.8</p>
                    </div>
                </li>
                <li>
                    <div class="category-group"
                         style="background-image:url('http://xfz.cn/static/build/images/web-bp-pc.png');"></div>
                    <div class="document-info">
                        <p class="document-title">如何写好一份商业计划书</p>
                        <p class="document-desc">一份好的商业计划书，是创业成功的开始！</p>
                        <p class="document-price">￥8.8</p>
                    </div>
                </li>
            </ul>
        </div>
        <!--        侧边-->
        <div class="sidebar-wrapper">
            <!--            第一个部分-->
            <div class="title-group">
                <span class="title">在线课堂</span>
                <a class="more" href="#">更多</a>
            </div>
            <!--             广告-->
            <div class="advertise-group">
                <a href="#"> <img src="https://static-image.xfz.cn/1570765909_110.png" alt="">
                </a>
            </div>

            <div class="title-group">
                <span class="title">关注小饭桌</span>
            </div>

            <div class="focus-group">
                <ul class="left-group">
                    <li class="zhihu">
                        <a href="#" target="_blank">小饭桌创业课堂</a>
                    </li>
                    <li class="weibo">
                        <a href="#" target="_blank">小饭桌创业课堂</a>
                    </li>
                    <li class="toutiao">
                        <a href="#" target="_blank">小饭桌创业课堂</a>
                    </li>
                </ul>
                <div class="right-group">
                    <p class="desc">扫码关注小饭桌公众号</p>
                </div>
            </div>

            <div class="hot-news-groups">
                <div class="title-group">
                    <span class="title">热门推荐</span>
                </div>

                <ul class="hot-list-group">
                    <li>
                        <div class="left-group">
                            <p class="title"><a href="#">蓝港互动及蓝港科技宣布，将联合增持区块链...</a></p>
                            <p class="more">
                                <span class="category">深度报道</span>
                                <span class="pub-time">一小时前</span>
                            </p>
                        </div>
                        <div class="right-group">
                            <a href="#"><img src="https://static-image.xfz.cn/1572227963_695.jpg-website.news.list"
                                             alt=""></a>
                        </div>
                    </li>
                </ul>
            </div>


        </div>
    </div>
</div>
<!--底部-->
<footer class="footer">
    <div class="top-group">
        <div class="top-inner-group">
            <div class="logo-box"></div>
            <div class="detail-group">
                <div class="line1">
                    <ul class="links">
                        <li><a href="#">关于小饭桌</a></li>
                        <li><a href="#">创业课堂</a></li>
                        <li><a href="#">寻求报道</a></li>
                        <li><a href="#">创业礼包</a></li>
                    </ul>
                    <div class="about-us">
                        <span class="title">关于我们:</span>
                        <span class="weixin">
                            <div class="wx-qrcode">
                            </div>
                            <a class="text" href="#">@小饭桌</a>
                        </span>
                    </div>
                </div>
                <div class="line2">
                    <p class="address">地址：山东省青岛市中国石油大学华东</p>
                    <p class="contact">400-888-888</p>
                </div>
            </div>
        </div>
    </div>
    <!--    最底栏-->
    <div class="bottom-group">の2019 北京子木投资顾问有限公司</div>
</footer>
</body>
</html>