@import "../common/header.scss";
@import "../common/footer";
@import "../common/mainbody";

.main {
    .wrapper {
        .main-content-wrapper {
            padding: 20px;
            box-sizing: border-box;
            background: white;

            .news-wrapper {
                padding: 20px;
                text-decoration: none;

                .title {
                    color: $mainFontColor;
                    font-size: 24px;
                    font-weight: 500;
                }

                .news-info {
                    overflow: hidden;
                    margin-top: 20px;
                    font-size: 14px;
                    color: $assistFontColor;
                    line-height: 28px;

                    .info-group {
                        float: left;

                        .pub-time {
                            margin-left: 20px;
                        }

                        .category {
                            margin-left: 20px;
                            color: white;
                            background: $themColor;
                            padding: 0 5px;
                            border-radius: 2px;
                        }
                    }

                    .share-group {
                        float: right;
                        overflow: hidden;

                        span {
                            float: left;
                        }

                        .weixin {
                            margin-left: 10px;
                            float: left;
                            height: 28px;
                            width: 28px;
                            background: url("https://www.xfz.cn/static/build/images/share.png") no-repeat;
                            background-size: 200%;
                            background-position-y: 4px;

                            &:hover {
                                display: none;
                            }
                        }

                        .weibo {
                            margin-left: 10px;
                            float: left;
                            height: 28px;
                            width: 28px;
                            background: url("https://www.xfz.cn/static/build/images/share.png") no-repeat;
                            background-size: 200%;
                            background-position-x: -30px;
                            background-position-y: 4px;
                        }
                    }
                }

                .article {
                    margin-top: 20px;
                    color: #555555;

                    img {
                        max-width: 100%;
                    }
                }
            }

            .comment-wrapper {
                border-top: 1px solid $lineColor;
                padding-top: 20px;

                .title {
                    color: $mainFontColor;
                    font-size: 18px;
                    font-weight: 400;
                }

                .comment-textarea {
                    margin-top: 10px;
                    width: 100%;
                    resize: none;
                    outline: none;
                    border: 1px solid #cccccc;
                    border-radius: 5px;
                    font-size: 14px;
                    padding: 6px 10px;
                    box-sizing: border-box;
                }

                .nologin-textarea {
                    height: 40px;
                    line-height: 27px;
                }

                .logined-textarea {
                    height: 80px;
                }

                .submit-btn-group {
                    //overflow: hidden;
                    text-align: right;
                    margin-top: 10px;

                    .submit-btn {
                        background: $themColor;
                        padding: 6px 10px;
                        color: white;
                        border-radius: 5px;
                        cursor: pointer;
                    }
                }

                .comment-list {
                    margin-top: 20px;;

                    li {
                        .comment-info {
                            overflow: hidden;
                            height: 30px;
                            line-height: 30px;

                            .author {
                                float: left;
                                color: $assistFontColor;
                            }

                            .pub-time {
                                color: $assistFontColor;
                                float: right;
                            }


                        }

                        .comment-content {
                            padding: 10px;
                            //margin-top: 20px;
                        }

                        border-bottom: 1px solid #eeeeee;

                        &:last-of-type {
                            border-bottom: none;
                        }
                    }
                }
            }

        }
    }
}